.button {
    -fx-background-color: #388bff;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #388bff;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.check-box:selected .box {
    -fx-background-color: #388bff;
}
.check-box:selected .mark {
    -fx-opacity: 0;
}

.search-bar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}


/* ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* ScrollBar tổng thể */
.scroll-bar {
    -fx-background-color: transparent;
}

/* XÓA background track */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* XÓA track background layer */
.scroll-bar .track-background {
    -fx-background-color: transparent;
}

/* Chỉ giữ thumb */
.scroll-bar .thumb {
    -fx-background-color: #bfe3ff;
    -fx-background-radius: 5;
}

/* Hover thumb */
.scroll-bar .thumb:hover {
    -fx-background-color: #a1d6ff;
}

/* XÓA nút mũi tên */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

/* XÓA góc dưới */
.scroll-pane .corner {
    -fx-background-color: transparent;
}
.scroll-bar:vertical {
    -fx-pref-width: 10;
}
