/*        projectNameLabel.getStyleClass().addAll("header");
        userNameField.getStylesheets().addAll("user-name", "user-field");
        userPasswordField.getStylesheets().addAll("user-password", "user-field");
        loginButton.getStylesheets().addAll("login-button");
        signupLabel.getStyleClass().addAll("signup-link");
       */
.header {
    -fx-font-size: 50px;
}

.field {
    -fx-font-size: 25px;
}

.login-button {
    -fx-font-size: 20px;
    -fx-background-color: #4f46e5;
    -fx-text-fill: white;
}
.login-button:hover {
    -fx-background-color: #6366f1;
}
.login-button:pressed {
    -fx-background-color: #4338ca;
}


.register-link {
    -fx-cursor: hand;
    -fx-font-size: 20px;
}
.register-link:hover{
    -fx-text-fill: #4265c7;
}

.border {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}