.sidebar-btn {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #E5E7EB;
    -fx-border-width: 1;

    -fx-padding: 10 15;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10;

    -fx-cursor: hand;
}

.sidebar-btn:hover {
    -fx-background-color: #F1F5F9;
}

.sidebar-btn.active {
    -fx-background-color: linear-gradient(to right, #4A6CF7, #5F7CFF);
    -fx-text-fill: white;
}
